@font-face
  font-family: "iconfont"
  src: url('../font/iconfont/iconfont.eot')
  src: url('../font/iconfont/iconfont.eot') format('embedded-opentype'),
  url('../font/iconfont/iconfont.woff') format('woff'),
  url('../font/iconfont/iconfont.ttf') format('truetype'),
  url('../font/iconfont/iconfont.svg') format('svg')

@font-face
  font-family: "Allura"
  src: url('../font/allura/allura.ttf')

@font-face {
    font-family: 'cathsgbr';
    src: url('../font/cathsgbr/cathsgbr.eot');
    src: url('../font/cathsgbr/cathsgbr.eot?#iefix') format('embedded-opentype'), url('../font/cathsgbr/cathsgbr.woff') format('woff'), url('../font/cathsgbr/cathsgbr.ttf') format('truetype'), url('../font/cathsgbr/cathsgbr.svg#cathsgbr') format('svg');
    font-weight: lighter;
    font-style: normal;
}

